

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid gray;
}

header img.logo{
    height: 5rem;
}

header nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem;
}
header nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    width: 25%;
}
.search input {
    height: 2rem;
    width: 250px;
    border: none;
}
.search i {
    font-size: 2rem;
}
.search img {
    height: 2rem;
    width: 2rem;
}

main {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 768px;
    margin-left: 2rem;

}

.movie-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-rating i {
    color: red;
}

.maturity-rating {
    border: 0.5px solid gray;
    border-radius: 5px;
}

.movie-details {
    list-style-type: none;
    padding-inline-start: 0;
    color: red;
    font-weight: bold;
    line-height: 1.5rem;

}

.btn .btn-lg {
    width: 150px;
    height: 50px;
    color: white;
    background: #ff0000;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
}

.suggestion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.suggestion-title a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

h2 {
    font-size: 1rem;
}

.suggestion-content {
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.suggestion-item {
    border: 1px solid gray;
    border-radius: 10px;
    width: 463px;
    height: 275px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.suggestion-item-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap:30px;
}


.btn .btn-md {
    width: 150px;
    height: 50px;
    color: white;
    background: #ff0000;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 30px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    max-width: 768px;

}

.footer-title nav {
    display: flex;
    gap: 50px;
}

.footer-title nav a {
    text-decoration: none;
    color: black;
}

.download {
    width: 200px;
}

.follow-us i{
    font-size: 50px;
    margin: 5px;
}














